.course-label,
.course-input,
.course-textarea,
.course-button,
.go-back-button {
  margin-bottom: 10px;
}

.course-label {
  display: block;
  font-weight: bold;
}

.course-input,
.course-textarea {
  width: 100%;
}

.course-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
}

.go-back-button {
  display: inline-block;
  margin-top: 20px;
  background-color: #ccc;
  color: black;
  padding: 10px;
  text-decoration: none;
}
